.imagee {
    width: 400px;
    height: 300px;
    text-align: center;

}
.p {
    text-align: right;
    padding: 20px 0px 20px 0px;
    color: black;
    max-height: 300px;
    word-wrap: break-word;
}
.container-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set height to 100% of viewport height */
    width: 60vw; /* Set width to 100% of viewport width plus 20px */
    background-color: #ffffff; /* Set background color */
    overflow-x: auto;
}
.title {
    padding-top: 100px;
}